<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='/css/style.css', rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="pull-left">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">SelfiSite</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li>
                  <a>Popular</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="pull-right header-action-buttons">
            <% if @isLoggedIn %>
                <button class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
                  <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Upload
                </button>
            <% end %>
            <% if !@isLoggedIn %>
                <div class="sign-in-links">
                  <a data-toggle="modal" data-target="#signUpModal">Sign Up</a>
                  <a data-toggle="modal" data-target="#signInModal">Sign In</a>
                </div>
            <% end %>
          </div>
        </div>
    </nav>
  </header>
  <%= ERB.new(File.new("public/views/templates/upload-modal.erb").read).result(binding) %>     
  <%= ERB.new(File.new("public/views/templates/sign-up.erb").read).result(binding) %>
  <%= ERB.new(File.new("public/views/templates/signin.erb").read).result(binding) %>
  <%= yield %>
  <footer>
    <p>Jadon Leininger 2015</p>
  </footer>
</body>
</html>